.buttonBox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    list-style: none;
    box-sizing: content-box;
    block-size: fit-content;
    padding: 0.75rem;
    
}

.buttonBox li  {
    margin: 1%;
}

.buttonBox li button {
    background-color: bisque;
    width: 75%;
    padding: 1.5em;
    border-radius: 5px;
    color: black;
    font-style: bold;
    font-size: 14px;
    cursor: pointer;
}

.buttonBox li button:hover {
    background-color: darkkhaki;
}
  