.chat_area {
  background-image: url("../../../assets/img/chat-background.jpg");
  background-size: cover;
  margin: 5px auto;
  width: 600px;
  max-width: 95%;
  height: 45vh;
  overflow-y: scroll;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: outset;
  border-color: black;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.chat_area p {
  color: rgb(198, 197, 197);
  font-size: 16px;
  padding: 2px 10px;
}

.refresh {
  display: block;
  margin: 5px auto;
  display: block;
  background-color: lightgoldenrodyellow;
  color: black;
  border-radius: 6px;
  margin: 10px auto;
  width: 120px;
  height: 30px;
  border: solid 1px black;
  cursor: pointer;
}

.refresh:hover {
    background-color: rgb(255, 255, 154);
}

.chat_text {
    font-size: 14px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.chat_nickname {
    font-size: 16px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}